@model IEnumerable<Models.Question>

@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(model => model.User.FullName);
        columns.Bound(model => model.User.CellNum);
        columns.Bound(model => model.Subject);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
        columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                      .Template(@<text>
                @Html.ActionLink("ویرایش", "Edit", new { id = @item.Id }, new { @class = "k-button" })
                @Html.ActionLink("حذف", "Delete", new { id = @item.Id }, new { @class = "k-button" })
                    </text>).Width(200);
        })
        .DataSource(dataSource => dataSource
                                    .Server()
                                    .Model(model => model.Id(item => item.Id))
                    )
)
