
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/app.v2.css" rel="stylesheet" />
    <script src="~/Scripts/Admin/app.v2.js"></script>
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/jszip.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2016.2.504/kendo.all.min.js")"></script>*@
    <script src="~/Scripts/kendo/2017.3.913/kendo.all.min.js"></script>
    @*<script src="~/Scripts/KendoPersianDate/JalaliDate.js"></script>
        <script src="~/Scripts/KendoPersianDate/kendo.web.js"></script>
        <script src="~/Scripts/KendoPersianDate/fa-IR.js"></script>*@
    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/Admin/admin-font-awesome.css" rel="stylesheet" />

</head>
<body class="k-rtl">
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs">
            <div class="navbar-header aside-md">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav"><i class="fa fa-bars"></i></a><a href="/" class="navbar-brand">
                    <img src="/assets/images/logo/logo-light.png" class="m-r-sm">
                </a><a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"><i class="fa fa-cog"></i></a>
            </div>
            <ul class="nav navbar-nav hidden-xs"></ul>
            <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
                <li class="hidden-xs">
                    <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
                        <i class="fa fa-bell"></i><span class="badge badge-sm up bg-danger m-l-n-sm count">
                            0
                        </span>
                    </a>
                    <section class="dropdown-menu aside-xl">
                        <section class="panel bg-white">
                            <header class="panel-heading b-light bg-light">
                                <strong>
                                    شما <span class="count"></span> اعلان دارید
                                </strong>
                            </header>

                            <footer class="panel-footer text-sm"></footer>
                        </section>
                    </section>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-left">
                            <img src="~/images/avatar_default.jpg" />
                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li><a href="/account/changepassword">تغییر کلمه عبور</a> </li>
                        <li><a href="#">Help</a> </li>
                        <li class="divider"></li>
                        <li>
                            @Html.ActionLink("خروج", "LogOff", "Account")
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-dark lter aside-md hidden-print nav-xs-right" id="nav" style="width:260px;">
                  @Html.Partial("BackEndLayout/_MenuPartial")
                </aside>
                <!-- /.aside -->
                <section id="content">
                    <section class="vbox">
                        <section class="scrollable padder" style="margin-top: 5px;">
                            @RenderBody()
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                </section>
            </section>
        </section>
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            var URL = window.location.pathname;
            if (URL.includes('/PayOff')) {
                $('.menuitem').removeClass('active');
                $('#payLi').addClass('active');
            }
            else if (URL.includes('users') || URL.includes('Employees') || URL.includes('marketers') || URL.includes('Addresses')) {
                $('.menuitem').removeClass('active');
                $('#userLi').addClass('active');
            }


            else if (URL.includes('/orders')) {
                $('.menuitem').removeClass('active');
                $('#orderLi').addClass('active');
            }

            else if (URL.includes('/Services') || URL.includes('/ServiceDetails')) {
                $('.menuitem').removeClass('active');
                $('#serviceLi').addClass('active');
            }
            else if (URL.includes('/DiscountCodes')) {
                $('.menuitem').removeClass('active');
                $('#discountLi').addClass('active');
            }
            else if (URL.includes('/CarwashServices') || URL.includes('/CarwashServicePrices')) {
                $('.menuitem').removeClass('active');
                $('#carwashLi').addClass('active');
            }
            else if (URL.includes('/messages')) {
                $('.menuitem').removeClass('active');
                $('#msgLi').addClass('active');
            }
            else if (URL.includes('/CommentItems')) {
                $('.menuitem').removeClass('active');
                $('#commentitemLi').addClass('active');
            }
            else if (URL.includes('/RejectReasons')) {
                $('.menuitem').removeClass('active');
                $('#rejectLi').addClass('active');
            }
            else if (URL.includes('/Orders/InsertOrder')) {
                $('.menuitem').removeClass('active');
                $('#iOrderLi').addClass('active');
            }
            else if (URL.includes('/TeamMembers')) {
                $('.menuitem').removeClass('active');
                $('#teamLi').addClass('active');
            }

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
