@model ViewModels.LoginViewModel


@if (Request.IsAuthenticated && Request.QueryString["ReturnUrl"] != null)
{
    <p class="bg-danger">شما به صفحه درخواست شده دسترسی ندارید. لطفا با نام کاربری دارای دسترسی به بخش درخواست شده وارد شوید</p>
}
@if (TempData["WrongPass"] != null)
{
    <p class="alert alert-danger" id="wrongEmail">@TempData["WrongPass"]</p>
}
<h2 class="user-profile__title">ورود</h2>
<p>جهت درسترسی به اطلاعات حساب کاربری خود وارد شوید.</p>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

    <div class="field-input">
        @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control", @placeholder = "نام کاربری" })
        @Html.ValidationMessageFor(a=>a.Username,"", new { @class = "text-danger" })
    </div>
    <div class="field-input">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "کلمه عبور" })
        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
    </div>
    <div class="field-input">
        <div class="check-box">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
        @*<a href="#">فراموشی کلمه عبور</a>*@
    </div>
    <div class="field-input">
        <button class="btn btn--primary">ورود</button>
    </div>
}