@model ViewModels.ActivateUserViewModel
@{
    ViewBag.Title = "فعال سازی حساب کاربری";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<section id="page-title" class="page-title page-title2">
    <div class="bg-section">
        <img src="/assets/images/page-title/banner-2.jpg" alt="دکتر کامران صحت" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div class="title title-2 text-center">
                    <div class="clearfix"></div>
                    <div class="title--content">
                        <ol class="breadcrumb">
                            <li><a href="/">خانه</a></li>
                            <li class="active">فعال سازی حساب کاربری</li>
                        </ol>
                        <div class="title--heading">
                            <label>فعال سازی حساب کاربری</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact1" class="contact-2 bg-white pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 business-desc">

                <p>
                    یک کد فعال سازی از طریق پیامک برای شما ارسال شده است. آن را در باکس رو به رو وارد نمایید.
                </p>
                <p>
                    این کد فعال سازی معادل کلمه عبور شما برای ورود به وب سایت نیز می باشد.
                </p>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["success"]
                    </div>
                }
                <div class="contact-form">
                    @using (Html.BeginForm("Activate", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(current=>current.UserCode)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "alert-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.ActivateCode, new { @placeholder = "کد فعال سازی*", @class = "form-control" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="ثبت کد فعال سازی و فعال سازی حساب کاربری" class="btn btn--secondary btn--block">
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
